<footer class="footer">
    <div class="grid">
        <a href="{{@website.url}}">
            {{#if @website.logo}}
                <picture class="logo">
                    <img src="{{@website.logo}}" alt="{{@website.name}}" width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}"/>
                </picture>
            {{/if}}
        </a>
        {{#if menus.other}}
            {{> footer-menu menus.other}}
        {{/if}}
        {{#if menus.socials}}
            {{> footer-menu menus.socials}}
        {{/if}}
    </div>
</footer>

<script defer src="{{js "scripts.min.js"}}"></script>

{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}
{{#checkIf @config.custom.frontSource '==' "post"}}
   {{#checkIf @config.custom.frontGallery '==' true}}
      {{#is "index"}}
          {{> photoswipe}}
      {{/is}}
   {{/checkIf}}
{{/checkIf}}
{{#debug}}{{/debug}}
</body>
</html>
