<main>
   {{#getPost @config.custom.frontPost}}
      <article>
         <header>
            {{#featuredImage}}
               {{#if url}}
                  {{> image}}
               {{else}}
                  {{> hero}}
               {{/if}}
            {{/featuredImage}}
            <div>
               <h1>
                  {{title}}
               </h1>
               {{#if postViewConfig.displayAuthor}}
                  <div>
                     {{#author}}
                        {{#if avatar}}                            
                           <img 
                                 src="{{avatar}}" 
                                 {{ lazyload "eager" }}  
                                 alt="{{name}}">    
                        {{/if}}
                        <a href="{{url}}">{{name}}</a>
                     {{/author}}
                  </div>
               {{/if}}
            </div>
         </header>

         <div>
            {{{text}}}  
         </div>
      </article>
    
   {{/getPost}}
</main>
