{{#if @pagination}}
   <nav class="{{#is "index"}}wrapper{{/is}} pagination {{@website.postsOrdering}}">
      {{#checkIf @website.postsOrdering '==' "desc"}}
         {{#if @pagination.nextPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div class="pagination__item">
                  {{{ icon 'left' }}}
                  <a href="{{@pagination.nextPageUrl}}" class="readmore">
                     {{ translate 'pagination.prev' }} 
                  </a>
               </div>
            {{else}}
               <div class="pagination__item">
                  <a href="{{@pagination.nextPageUrl}}" class="readmore">
                     {{ translate 'pagination.next' }}  
                  </a>  
                  {{{ icon 'right' }}}
               </div>
            {{/checkIf}}
         {{/if}}
         {{#if @pagination.previousPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div class="pagination__item">
                  <a href="{{@pagination.previousPageUrl}}" class="readmore">
                     {{ translate 'pagination.next' }} 
                  </a> 
                  {{{ icon 'right' }}}
               </div>
            {{else}}
               <div class="pagination__item">
                  {{{ icon 'left' }}} 
                  <a href="{{@pagination.previousPageUrl}}" class="readmore">
                     {{ translate 'pagination.prev' }} 
                  </a>
               </div>
            {{/checkIf}}
         {{/if}}
      {{else}}
         {{#if @pagination.previousPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div class="pagination__item">
                  <a href="{{@pagination.previousPageUrl}}" class="readmore">
                     {{ translate 'pagination.next' }} 
                  </a> 
                  {{{ icon 'right' }}}
               </div>
            {{else}}
               <div class="pagination__item">
                  {{{ icon 'left' }}}
                  <a href="{{@pagination.previousPageUrl}}" class="readmore">
                     {{ translate 'pagination.prev' }} 
                  </a>
               </div>
            {{/checkIf}}
         {{/if}}
         {{#if @pagination.nextPage}}
            {{#checkIf @website.postsOrdering '==' "desc"}}
               <div class="pagination__item">
                  {{{ icon 'left' }}}
                  <a href="{{@pagination.nextPageUrl}}" class="readmore">
                     {{ translate 'pagination.prev' }} 
                  </a>
               </div>
            {{else}}
               <div class="pagination__item">
                  <a href="{{@pagination.nextPageUrl}}" class="readmore">
                     {{ translate 'pagination.next' }} 
                  </a> 
                  {{{ icon 'right' }}}
               </div>
            {{/checkIf}}
         {{/if}}
      {{/checkIf}}
   </nav>
{{/if}}
