{{> amp-head}}

{{#checkIf @config.custom.frontSource '==' "post" }}

   {{> amp-frontpage-post}}
{{else}}

    <main>

        <div class="grid">

            {{#each posts}}
            
                <article>           
                    {{#featuredImage}}
                        {{#if url}}
                        <a href="{{../url}}">
                            {{> amp-image}}
                        </a>
                        {{/if}}
                    {{/featuredImage}}           
                    
                    <div>
                        <h2>
                            <a href="{{url}}"> {{title}} </a>
                        </h2>                
                        <p>{{{excerpt}}}</p>        
                    </div>          
                </article>
            {{/each}}

            {{> amp-pagination}}     
        </div>   
    </main>

{{/checkIf}}	
{{> amp-footer}}