{{> head}}
{{> top}}

{{#checkIf @config.custom.frontSource '==' "post" }}
   {{> frontpage-post}}
{{else}}

   <main>

      {{> hero}}
      
      <div class="today">
         {{> calendar}}
      </div>

      <div class="highlights styled">

         {{#highlights}}

            <article>

               {{> post-image}}

               {{title}}

            </article>

         {{/highlights}}
      </div>

      <div class="partners">
   
         {{#partners}}

            <article>

               {{> post-image}}

               {{title}}

            </article>

         {{/partners}}
      </div>

      <div class="grid">

         {{#each posts}}
            <article>

               {{> post-image}}

               <h1>{{title}}</h1>

               <div class="excerpt">{{{excerpt}}}</div>

               <a href="{{url}}">visit</a>

            </article>
         {{/each}}
         {{> pagination}}
      </div>
   </main>

{{/checkIf}}
{{> footer}}
