{{> head}}
{{> top}}
<main>

   <div class="grid">

      <h1>{{ translate 'search' }}</h1>

      <fieldset action="{{@website.searchUrl}}">
         {{> search}}
      </fieldset>

      {{#search}}
      
         <article data-search="{{keyword}}">

            {{> post-image}}

            <h1>{{title}}</h1>

            <div class="excerpt">{{{excerpt}}}</div>

            <a href="{{url}}">visit</a>

         </article>

      {{/search}}
   </div>
   
</main>
{{> footer}}
