{{> head}}
{{> top}}
<main>

   {{#tag}}
      <header>

         {{> post-image}}
         <div>           
            <h1>
               {{name}}
               <sup>({{postsNumber}})</sup>
            </h1>
            {{#if description}}
               <p>{{description}}</p>
            {{/if}}          
         </div>
      </header>
   {{/tag}}

   <div>
      {{#each posts}}
         <article>

            {{> post-image}}

            <h1>{{title}}</h1>

            <div class="excerpt">{{{excerpt}}}</div>

            <a href="{{url}}">visit</a>

         </article>
      {{/each}}
      {{> pagination}}
   </div>

</main>
{{> footer}}
