{{> head}}
{{> top}}
<main>
   {{> hero}}
   <header class="hero__content">
      <div>
         <h1>
            {{ translate 'tags.tagsPageTitle' }} 
            <sup>({{tagsNumber}})</sup>
         </h1>
         <p>
            {{ translate 'tags.description' }}
         </p>
      </div>
   </header>
   <div>
      <ul class="feed feed--grid">
         {{#each tags}}
            <li>
               <h2>
                  <a href="{{url}}" class="invert">
                     {{name}}
                  </a>
                  {{#if @config.custom.tagsPostCount}}
                     <sup>({{postsNumber}})</sup>
                  {{/if}}
               </h2>
               {{#checkIfAll @config.custom.tagsDescription  description}}
                  <p>
                     {{description}}
                  </p>
               {{/checkIfAll}}
            </li>
         {{/each}}
      </ul>
   </div>
</main>
{{> footer}}
